*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
}


//container放這裡嗎?
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px;
}