/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  text-decoration: none; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans TC', 'Microsoft JhengHei', Roboto, 'Helvetica Neue', Arial, sans-serif; }

.header {
  padding: 22px 0px 12px 0px; }

.logo a {
  background-image: url(/assets/images/yahoo-logo.png);
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  width: 125px;
  height: 55px; }

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header-right .input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header-right .input-group .input-outside {
      position: relative; }
    .header-right .input-group .micro-icon {
      position: absolute;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      top: 50%;
      right: 1%; }
  .header-right .form-control {
    height: 50px;
    width: 532px;
    position: relative;
    outline: none;
    border-radius: 4px 0xp 0px 4px;
    font-size: 18px; }
  .header-right .header-button {
    width: 73px;
    height: 50px;
    background-color: #0f69ff;
    border: none;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer; }

.header-list .header-menu-weather {
  position: relative; }

.header-list span {
  position: absolute;
  font-size: 10px;
  top: 0;
  right: -10px; }

.header-list .moon-icon {
  cursor: pointer;
  -webkit-transform: rotateY(180deg) rotate(45deg);
          transform: rotateY(180deg) rotate(45deg);
  width: 27px;
  height: 27px; }

.header-list .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header-list .header-menu li {
    padding-left: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.header-list .header-menu-taipei {
  font-size: 14px;
  color: #979EA8;
  padding-left: 20px !important; }

.header-list .header-menu-bell {
  width: 26px;
  height: 26px; }

.header-list .header-menu-email {
  width: 30px;
  height: 30px; }

.header-list .header-login {
  width: 82px;
  height: 27px;
  display: block;
  border: 2px solid #6001d2;
  border-radius: 4px;
  padding: 5px 6px;
  text-align: center;
  font-size: 13px;
  background-color: #6001d2;
  color: white; }

.keywords {
  margin: 12px 10px 0px 150px; }
  @media (max-width: 1100px) {
    .keywords {
      margin: 12px 10px 0px 110px; } }
  .keywords .key-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px; }
    @media (max-width: 1200px) {
      .keywords .key-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        font-size: 10px; } }
    .keywords .key-list li {
      padding: 0px 10px;
      border-right: 1px solid #b0b9c1; }
      .keywords .key-list li:nth-child(2) {
        padding: 0px 10px 0px 0px; }
    .keywords .key-list a {
      color: #324fe1; }

.section-middle .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.sidebar {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .sidebar li {
    padding: 8px 0px; }
    .sidebar li a {
      color: #324fe1; }
  .sidebar .sidebar-left {
    width: 50%; }
  .sidebar .sidebar-right {
    width: 50%; }

.concern {
  width: 100%;
  height: 48px;
  background-color: #ff6e0c;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 18px 16px;
  position: relative; }
  .concern a {
    color: white;
    font-weight: normal; }
    .concern a:hover {
      text-decoration: underline; }
  .concern .baseball-concern {
    width: 73px;
    height: 37px;
    border-radius: 5px;
    position: absolute;
    top: 12%;
    right: 1%; }

.main {
  margin: 10px; }

.tabs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px; }
  .tabs-list li {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: calc(100% / 5); }
  .tabs-list a {
    display: block;
    height: 100%;
    padding: 12px 0px;
    text-align: center;
    border-top: 3px solid transparent;
    background-color: #f5f8fa;
    color: black; }
    .tabs-list a:hover {
      border-top: 3px solid #6001d2;
      background-color: white;
      color: #6001d2;
      font-weight: bold; }

.experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.panels-shifts {
  padding: 14px;
  display: none; }

.panel-pictures {
  margin-right: 14px;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.panels-picture1 {
  padding-bottom: 4px; }
  .panels-picture1 img {
    width: 100%;
    height: 206px;
    -o-object-fit: cover;
       object-fit: cover; }

.panel-picture2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .panel-picture2 li:nth-child(1) {
    padding-right: 2px; }
  .panel-picture2 img {
    width: 100%;
    height: 102px;
    -o-object-fit: cover;
       object-fit: cover; }

.aside-sticky {
  width: 35%;
  height: 272px;
  color: #324fe1;
  font-size: 20px; }
  .aside-sticky p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .aside-sticky .retina {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 8px; }

/*# sourceMappingURL=all.css.map */
