$barbie: #f80e5d;
$barney: #cc008c;
$batcave: #232a31;
$battleship: #5b636a;
$black: #000;
$blurple: #5d5eff;
$bob: #b0b9c1;
$bonsai: #00873c;
$canary: #ffde00;
$carrot-juice: #ff520d;
$heetos: #ff6e0c;
$charcoal: #464e56;
$cheetos: #ff6e0c;
$cobalt: #003abc;
$denim: #1a0dab;
$dirty-seagull: #e0e4e9;
$dolphin: #6e7780;
$dory: #0f69ff;
$gandalf: #979ea8;
$grape-jelly: #6001d2;
$grey-hair: #f0f3f5;
$hendrix: #f8f4ff;
$hulk-pants: #7e1fff;
$inkwell: #1d2228;
$kiwi: #00d15e;
$malbec: #39007d;
$malibu: #ff0080;
$marshmallow: #f5f8fa;
$masala: #ff8b12;
$midnight: #101518;
$mimosa: #ffd333;
$mulah: #1ac567;
$mulberry: #5015B0;
$ninja-turtle: #00ab5e;
$pebble: #c7cdd2;
$peeps: #7dcbff;
$playdoh: #21d87d;
$ramones: #2c363f;
$sapphire: #2f0060;
$scooter: #0063eb;
$sea-foam: #11d3cd;
$shark: #828a93;
$sky: #12a9ff;
$smurfette: #188fff;
$solo-cup: #eb0f29;
$spirulina: #009c94;
$starfish: #7759ff;
$swedish-fish: #ff333a;
$thanos: #907cff;
$turmeric: #ffa700;
$watermelon: #ff4d52;
$keywords:#324fe1;